extends layout

block content
  h1= title
  p Welcome to #{title} 
  div
    ul
      each item in messages
        li
          div
            p text: #{item.text}
            p user: #{item.user} 
            p date: #{item.added}
  br
  a(href="/new") Add a new message